<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Us! - CS219</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {% import "bootstrap/wtf.html" as wtf %}

    <!-- Insert nice HTML page here... -->

    <h1>About Us!</h1>

    <br>
    <br>
    <br>

    <footer>
      <h3>Acknowledgements</h3>
      <p>Developers: Harrison (<a href="mailto:harrison.cassar@gmail.com">harrison.cassar@gmail.com</a>), Ricky (<a href="mailto:harrison.cassar@gmail.com">harrison.cassar@gmail.com</a>), Disha (<a href="mailto:harrison.cassar@gmail.com">harrison.cassar@gmail.com</a>), and Albert (<a href="mailto:jqc@cs.ucla.edu">jqc@cs.ucla.edu</a>)</p>
      <p>Developed as a part of UCLA's Spring 2023 COM SCI 219: Cloud Computing course.</p>
      <p>Special thanks to Mentor Jinghao Zhao and Professor Songwu Lu for guidance throughout the project development process. </p>
    </footer>
  </body>
</html>